<div id="work" page>
	<h2>Work Experience</h2>
	<div>
		<div class="employers">
			<h3>Employers</h3>
			<ul>
				<li>Techcyte</li>
				<li>Prototypal Solutions</li>
				<li>Anglepoint</li>
				<li>Jolt/Intuiplan</li>
				<li>World Tech Academy</li>
				<li>Brevium</li>
				<li>MTC</li>
			</ul>
		</div>
		<div class="skills">
			<h3>Skills</h3>
			<ol>
				<li>Node/Javascript</li>
				<li>C#/Java</li>
				<li>Python,Bash</li>
				<li>SQL</li>
				<li>Mongo</li>
				<li>AWS</li>
			</ol>
		</div>
	</div>
</div>